
  <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="styles/simple-sidebar.css" rel="stylesheet">

<div class="page-container">
<div class="header" ng-controller="searchCtrl">
 
        <form name="mysearch" ng-submit="submitmysearch(mysearch.$valid)"  class="form-inline">
    <input ng-model="word" type="text" name="word"  class="form-control" size="85" required/>
    <button type="submit" class="btn btn-primary">GO <span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
           <div id="sidebar-wrapper">
<div ng-controller="loginCtrl">
            <ul class="sidebar-nav">
              <li class="sidebar-brand" ng-if="!vari">
                    <a ng-click="direct()">
                        Main Page
                    </a>
                </li>
                <li class="sidebar-brand" ng-if="!vari">
                    <a href="#/authdetail">
                        User Details
                    </a>
                </li>
                <li class="sidebar-brand" ng-if="con">
                    <a href="#/edit">Edit Content</a>
                </li>
                <li class="sidebar-brand" ng-controller="searchinCtrl">
                      <a ng-click="random()">Random Article</a>
                </li>
                 <li class="sidebar-brand" ng-controller="searchinCtrl">
                    <a ng-click="latest()">Latest Article </a>               
                 </li>
               <li class="sidebar-brand" ng-controller="adminCtrl" ng-show="v">
                    <a href="#/deleteuser">Remove User</a>
                </li>
                <li class="sidebar-brand" ng-controller="adminCtrl">
                    <a href="#/createarticle">Create Article</a>
                </li>
                 <li class="sidebar-brand" ng-controller="adminCtrl" ng-show="v">
                    <a href="#/deletearticle">Delete Article</a>
                </li>
                <li class="sidebar-brand" ng-controller="adminCtrl" ng-if="con">
                    <a href="#/revisionhistory">Revision History</a>
                </li>
               <!--  <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
        </div>
        </div>
<div class="main-content" ng-controller="adminCtrl">
<center>
    <h2 style="font-family:Comic Sans MS"><i>Delete Article</i></h2>
<hr>
    <form name="delarticle" ng-submit="articledel()"  data-ng-init="articledisp()" >
        
<!--             {{users}} -->   
     
    <!-- <tr><th>username</th><th>email</th></tr>  -->
    <div ng-repeat="x in arti">
        <input type="radio"  value="{{x.page}}" name="page1" ng-model="$parent.page1" >
        <lable style="font-family:Comic Sans MS; font-size:150%"> Page Name: {{x.page}}  <br>  Category: {{x.category_id}}
        </label>
      <br><br>
       <hr>
       </div>
       <br>
        <button type="submit" class="btn btn-primary">Remove <span class="glyphicon glyphicon-trash"></span></button>
   
   
    </form>


</center>
</div>
        <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</div>