 <!-- Bootstrap Core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="styles/simple-sidebar.css" rel="stylesheet">

<div class="page-container">
<div class="header" ng-controller="searchCtrl">
 
        <form name="mysearch" ng-submit="submitmysearch(mysearch.$valid)"  class="form-inline">
    <input ng-model="word" type="text" name="word"  class="form-control" size="85" required/>
    <button type="submit" class="btn btn-primary">GO <span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>
           <div id="sidebar-wrapper">
<div ng-controller="loginCtrl">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ng-if="!vari">
                    <a ng-click="direct()">
                        Main Page
                    </a>
                </li>
                <li class="sidebar-brand" ng-if="!vari">
                    <a href="#/authdetail">
                        User Details
                    </a>
                </li>
                <li class="sidebar-brand" ng-if="!vari">
                    <a href="#/edit">Edit Content</a>
                </li>
                <li class="sidebar-brand" ng-controller="searchinCtrl">
                      <a ng-click="random()">Random Article</a>
                </li>
                 <li class="sidebar-brand" ng-controller="searchinCtrl">
                    <a ng-click="latest()">Latest Article </a>               
                 </li>
               <li class="sidebar-brand" ng-controller="adminCtrl" ng-show="v">
                    <a href="#/deleteuser">Remove User</a>
                </li>
                 <li class="sidebar-brand" ng-controller="adminCtrl" ng-show="v">
                    <a href="#/createarticle">Create Article</a>
                </li>
                 <li class="sidebar-brand" ng-controller="adminCtrl" ng-show="v">
                    <a href="#/deletearticle">Delete Article</a>
                </li>
                <li class="sidebar-brand" ng-controller="adminCtrl">
                    <a href="#/revisionhistory">Revision History</a>
                </li>
               <!--  <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li> -->
            </ul>
        </div>
        </div>
<div class="main-content" ng-controller="revisionCtrl">
<center>
    <h2 style="font-family:Comic Sans MS"><i>Revision History</i></h2>
<hr>
    <form name="rev" ng-submit="secsubmit()"  class="form-inline">
        
revision history of section:<select id="section" ng-model="secname1" class="form-control"  >
  <option value={{t.s_name}}  ng-repeat="t in sec[0].data.page">{{t.s_name}}</option>
  </select>
   <button type="submit" class="btn btn-primary">submit <span class="glyphicon glyphicon-search"></span></button>
    </form>
<div ng-repeat="x in revise">
   <p style="font-family:Comic Sans MS; font-size:150%"> contributor:{{x.contributor}} <br>ip:{{x.ip}} <br> date:{{x.date}}  <br>  charaters changed:{{x.lines}} <br> revision no:{{x.revno}}</p>
    <hr>
</div>
        <form name="rev1" ng-submit="revi()"  class="form-inline"  ng-show="v">

   <button type="submit"  class="btn btn-primary">undo <span class="glyphicon glyphicon-refresh"></span></button>
</form>


</center>
</div>
        <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</div>